<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /shiplists2/
  RewriteRule ^shiplists2/index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /shiplists2/index.html [L]
</IfModule>