
// Place vuetify class definitions here for classes you wish to modify 
// Reference -> https://www.subscribepage.com/x5p4v3_copy3_copy/?utm_source=vuetifyads&utm_medium=promoted-ad  05:44
$toolbar-content-padding-y:0;
$toolbar-content-padding-x:0;

$body-font-family:'Lora-VariableFont_wght', sans-serif;
$header-font-family:'Roboto-Regular', sans-serif
